@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0%;
    padding: 0%;
}
.btn-primary{
    margin-top: 30px;
    width: 160px;
    height: 60px;
    border: 0;
    border-radius: 8px;
background: #FF900E;
color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 600;
cursor: pointer;
}
button:hover{
    background-color: chocolate;
}
header{
     padding: 50px ; 
    background: rgba(255, 144, 14, 0.10);
   
}
.nav-title{
    color: var(--Dark-01, #131313);
text-align: center;
font-size: 35px;
font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-between;
    
}
nav > ul{
     display: flex;
}
nav li  a{
    text-decoration: none;
    color: black;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    color: var(--Dark-02, #424242);
text-align: center;
font-size: 18px;
line-height: 26px;
}
main{
    max-width: 1440px;
}

.banner-contact{
     max-width: 700px; 
    text-align: center;
    margin: 90px auto;
}
.banner-title{
    width: 100%;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 10px;
}

.banner img{
    width: 100%;
}
.first-section{
    max-width: 1000px;
    padding: 10px 10px 20px 50px; 
  
} 
.quick-list{
    display: flex;
    align-items: center;
   
    margin-top: 30px;
   
}
.quick-list h3{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}
.first{
    color: #424242;
    font-weight: 400;
}
.second{
    color: #FF900E;
}
.img-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 50px 80px;
    
   
}
.img-section img{
    width: 220px;
    height: 220px;

}
.some-facts{
    max-width: 1000px;
    margin: 90px auto;
}
.some-facts h3, p{
    margin-bottom: 20px;
}
.some-facts h3{
font-size: 45px;
font-weight: 700;
}
.some-facts p{
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 540px;
}
.boxes{
    display: flex;
    gap: 80px;
    justify-content: space-around;
    margin-top: 35px;
}
.box{
   align-items: center;
    width: 150px;
    height: 150px;
    border: 1px solid chocolate;
    border-radius: 8px;
    /* padding: 20px 40px; */
}
.img{
    display: flex;
    gap: 100px;
    align-items: center;
    padding: 10px 260px;

}
.image img{
    width: 80px;
    height: 40px;
}
.sponspors{
    text-align: center;
}
.sponspors h3{
font-size: 45px;
font-weight: 700;
}
.sponspors p{
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 15px;
}

/* Responsive Media Query  */
  /* Mobile devices  */
@media screen and (max-width:576px) {
    nav, nav ul, .quick-list, .img{
        flex-direction: column;
    }
   
    .banner-title{
        font-size: 40px;
    }
    .img-section img{
        width: 100px;
        height: 100px;
    }
    .img-section{
        display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:5px;
    }
    .first-section{
        padding: 20px;
    }
    .quick-list-content{
        text-align: center;
        margin-top: 20px;
    }
    .some-facts{
        padding: 20px;
    }
    .some-facts h3{
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }
    .some-facts p{
        width: auto;
        text-align: center;
    }
    .boxes{
        gap: 20px;
        align-items: center;
    }
    .image img{
        width:100px ;
        height: 50px;
    }
}

/* Tablet devices 
@media screen and (min-width:577px) and (max-width:992px) {
    
} */